* {
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;

}
.free
{
padding: 10px 30px ;
width:100%;
 background: #010F1C;
 display: flex;  
}
.free .icon 
{
    color:#f3b123;
    font-size: 28px;
}
.free p{
    margin-left: 10px;
    color: #f6f6f6;
    margin-top: 8px;   
    font-size: 16px;
    font-weight: 600;
}
.logo img{
    height: 100px;
    width:200px;
}
.main-header{
     padding:30px 4px;
     width:100%;
     border-bottom:1px solid #010F1C;
    }
    .main-header .container{
        display:flex;
        justify-content: space-between;
    }
    .main-header .container .logo img{
        width:300px;
    }
    .main-header .container .search-box{
        margin-right:30px;
     
    }
    .main-header .container .search-box input {
outline:none;
padding:10px 30px;
border:3px solid #0989ff;
width:300px;
color:#010F1C;
    }
    .main-header .container .search-box button {
        border:3px solid #0989ff;
        outline:none;
        padding:10px 20px;
        cursor: pointer;
        background: #0989ff;
        color:#ecf2f7;
    }
    .main-header .container .icon {
        display:flex;
        margin-right: 50px;
    }
    .main-header .container .icon .account {
        display: flex;
        margin-right: 30px;
    }
    .main-header .container .icon .account {
        margin-right: 10px;
        font-size: 21px;
        color:#010F1C;
        cursor:pointer;
    }
    .main-header .container .icon .account p{
        margin-right:5px;
        margin-top: 2px;
    }
    .main-header .container .icon .second-icon {
     display: flex;
    }
    .main-header .container .icon .second-icon .link{
        margin-right: 5px;
        font-size: 22px;
        cursor: pointer;
        color:#0989ff;
    }
    .header{
        width:100%;
        padding:20px 30px;
        box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    }
    .header .container{
        display: flex;
     max-width: 100%;
     justify-content: space-between;   
    }

    .header .container .navbar ul{
        display:flex;
    }
    .header .container .navbar ul li{
        margin-left: 20px;
        list-style: none;
    }
    .header .container .navbar ul li .link{
        text-decoration: none;
        color:#010F1C;
        transition: 0.5s;
    }
    .header .container .navbar ul li .link:hover{
        color:#0989ff
    }
    .header .container .auth{
        margin-right: 20px;
        font-size: 22px;
        cursor:pointer;
    }
    .header .container .auth button{
        margin-right: 20px;
        font-size: 22px;
        cursor:pointer;
        outline: none;
        background:none;
        border: none;
        background: #d3e6f7;
        border-radius: 5px;
    }
    .header .container .auth button:hover{
  
        color:#010F1C
    }
